@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #03989e;
    --corhover: #272727;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: rgb(79, 2, 79);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Space Mono', monospace;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.titulo-destaque:hover{
    color: rgb(92, 3, 92);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto a:hover{
    color: rgb(79, 2, 79);
    font-size: 1.5rem;
}

.trecho-paragrafo {
    color: var(--cor-terciaria);
}


.apresentacao__botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__botao__subtitulo{
    font-weight: 600;
    font-size: 1.5rem;
}

.apresentacao__botao__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    color: var(--cor-secundaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
}


.apresentacao__botao__link:hover{
    background-color: var(--corhover);
    border-color: rgb(79, 2, 79);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}